In [22]:
import pandas as pd

In [39]:
# thêm title cho file excel, vị trí mặc định tại 1,2
import openpyxl
def add_title(file_name, title, sheet="Sheet1"):
    wb = openpyxl.load_workbook(file_name)
    old_sheet = wb.get_sheet_by_name(sheet)
    old_sheet.cell(row=1, column=2).value = title
    wb.save(file_name)
# lấy title cho file
def get_title(file_name, sheet="Sheet1"):
    wb = openpyxl.load_workbook(file_name)
    old_sheet = wb.get_sheet_by_name(sheet)
    value = old_sheet.cell(1, 2).value
    return value

In [53]:
add_title("sample_file.xlsx", "my title")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  after removing the cwd from sys.path.

In [43]:
a = get_title("empty_file.xlsx")
print(a)

my title

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  if __name__ == '__main__':

In [50]:
# hàm lưu dataframe
def save_dataframe(dataframe, file_name, sheet = 'Sheet1'):
    writer = pd.ExcelWriter(file_name)
    dataframe.to_excel(writer, sheet ,index=False, startrow=1) # bỏ trống hàng đầu tiên làm title
    writer.save()
def read_excel_file(file_name, sheet = 'Sheet1'):
    df = pd.read_excel(file_name,sheet,skiprows=[0]) # không đọc hàng đầu tiên (title)
    return df

In [26]:
# tạo file chỉ gồm các header
def create_empty_excel_file(columns, file_name, sheet = 'Sheet1'):
    df = pd.DataFrame(columns=columns)
    save_dataframe(df, file_name, sheet)
    return df

In [27]:
# thêm 1 hàng vào file
def insert_row(file_name, row, sheet = 'Sheet1'):
    df = pd.read_excel(file_name)
    columns = df.columns.values.tolist()
    row=pd.Series(row,columns)
    df = df.append([row],ignore_index=True)
    save_dataframe(df, file_name, sheet)
    return df

In [52]:
# thêm dữ liệu từ file1 vào file2, kết quả lưu tại file2
def insert_data_from_file(from_file, to_file):
    df = read_excel_file(to_file)
    df1 = read_excel_file(from_file)
    df = df.append(df1)
    save_dataframe(df,to_file)
    return df

In [57]:
# tạo file chỉ có header:
columns = ['col1','col2','col3']
create_empty_excel_file(columns, "empty_file.xlsx")
emptydf = pd.read_excel("empty_file.xlsx")
emptydf

Empty DataFrame
Columns: [col1, col2, col3]
Index: []

In [59]:
# thêm 1 hàng vào file
row = ['a','b','c']
insert_row("empty_file.xlsx", row)
emptydf = pd.read_excel("empty_file.xlsx")
emptydf

  col1 col2 col3
0    a    b    c

In [60]:
#file mẫu
sampledf = pd.read_excel("sample_file.xlsx")
sampledf

  col1 col2 col3
0    d    e    f

In [61]:
# thêm dữ liệu từ sample_file.xlsx vào empty_file.xlsx
insert_data_from_file("sample_file.xlsx", "empty_file.xlsx")
emptydf = read_excel_file("empty_file.xlsx")
emptydf

  col1 col2 col3
0    a    b    c
1    d    e    f