In [1]:
import pandas as pd

In [2]:
# hàm lưu dataframe
def save_dataframe(dataframe, file_name, sheet = 'Sheet1'):
    writer = pd.ExcelWriter(file_name)
    dataframe.to_excel(writer, sheet ,index=False)
    writer.save()

In [34]:
# tạo file chỉ gồm các header
def create_empty_excel_file(columns, file_name, sheet = 'Sheet1'):
    df = pd.DataFrame(columns=columns)
    save_dataframe(df, file_name, sheet)
    return df

In [35]:
# thêm 1 hàng vào file
def insert_row(file_name, row, sheet = 'Sheet1'):
    df = pd.read_excel(file_name)
    columns = df.columns.values.tolist()
    row=pd.Series(row,columns)
    df = df.append([row],ignore_index=True)
    save_dataframe(df, file_name, sheet)
    return df

In [36]:
# thêm dữ liệu từ file1 vào file2, kết quả lưu tại file2
def insert_data_from_file(from_file, to_file):
    df = pd.read_excel(to_file)
    df1 = pd.read_excel(from_file)
    df = df.append(df1)
    save_dataframe(df,to_file)
    return df

In [30]:
# tạo file chỉ có header:
columns = ['col1','col2','col3']
create_empty_excel_file(columns, "empty_file.xlsx")
emptydf = pd.read_excel("empty_file.xlsx")
emptydf

Empty DataFrame
Columns: [col1, col2, col3]
Index: []

In [31]:
# thêm 1 hàng vào 
row = ['a','b','c']
insert_row("empty_file.xlsx", row)
emptydf = pd.read_excel("empty_file.xlsx")
emptydf

  col1 col2 col3
0    a    b    c

In [32]:
sampledf = pd.read_excel("sample_file.xlsx")
sampledf

  col1 col2 col3
0    d    e    f

In [33]:
insert_data_from_file("sample_file.xlsx", "empty_file.xlsx")
emptydf = pd.read_excel("empty_file.xlsx")
emptydf

  col1 col2 col3
0    a    b    c
1    d    e    f